:root{
  --cor-container:#060302;
  --cor-menu: #060302;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.icon{
  border-radius: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f4f5f7;
  color: rgb(0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
  background-color: var(--cor-menu);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 100px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 97%;
}

.logo h1 {
  color: #f2b705;
  font-family: "Bungee", sans-serif;
  cursor: pointer;
}
.logo h1:hover {
  color: #f2b705;
  transform:scale(1.04);
  transition: 1s;
  text-shadow: #730202;
}

.logo h1::after{
   color: #f2b705;
  transition: 0.5s;
}

/*---------MENU---------*/
.menu {
  width: 750px;
}

.menu ul {
  display: flex;
  flex-direction: row;
}

.menu ul li a {
  padding: 10px 40px;
  text-decoration: none;
  color: #f2b705;
  border-radius: 30px;
  cursor: pointer;
}

.menu ul li a:hover {
  padding: 10px 40px;
  color: #f2b705;
  transform: scaleX(3deg);
  background-color: #730202;
  border-radius: 30px;
  transition: 0.3s;
}

/*---------SEÇÃO HOME----------*/
.linha_home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.container_home {
  position: relative;
  z-index: 1;
  width: 1200px;
  padding-top: 100px;
  color: white;
}

.linha {
    background-color: #f2b705;
  background-size: cover;
  background-image: url(asset/fundo_yellow.png);
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;

}

.linhaseguinte {
   background-size: cover;
  background-image: url(asset/fundo_red.png);
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;

}

.container {
  width: 1200px;
  height: 100%;
  padding-top: 100px;
  background-color: var(--cor-container);
  color: #f4f5f7;
  align-items: center;
  justify-content: center;  
  display: flex;
  flex-wrap: wrap;
}
.secaoAbordada{
  height: 6%;
  width: 95%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Abordagem{
  width: 27%;
  height: 100%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2b705;
  background-color: #730202;
  border-radius: 30px;
  cursor: pointer;
}
.Abordagem_yellow{
  width: 27%;
  height: 100%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #260101;
  background-color: #f2b705;
  border-radius: 30px;
  cursor: pointer;
}

.tabelaCardapio{
  height: 89%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.tabelaCardapio:hover > :not(:hover) {
  opacity: .9;
  transform: scale(0.95);
  transition: 0.5s;
}

.Cardapios_impar{
  height: 45%;
  width: 30%;
  border-radius: 10px;
  transition: all 0.5s ease;

}

.Cardapios_impar:hover{
  border: 10px solid #f2b705;
  transform: scale(1.03);
  transition: .25s;
  z-index: 2;
  cursor: pointer;
  color: #260101;
  background-color: #f2b705;
  transition: .4;
  opacity: .9;
}

.Cardapios{
  height: 45%;
  width: 30%;
  border-radius: 10px;
  transition: all 0.5s ease;

}
.Cardapios:hover{
  border: 10px solid #730202;
  transform: scale(1.03);
  transition: .25s;
  z-index: 2;
  cursor: pointer;
  color: #f2b705;
  background-color: #730202;
  opacity: .9;
}

.demonstracao{
  height: 70%;
  transition: .35s;
  cursor: pointer;
}

.demonstracao img{
  border-radius: 10px;
}

.demonstracao img{
  width: 100%;
}

.descricao{
  margin-top: 7%;
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
}

/*----------RODAPÉ------------*/
footer{
  width: 100%;
  height: 250px;
  background-color: var(--cor-menu);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2b705;
}
 .col_rodape{
  width: 400px;
  height: 100%;
  align-items: center;
  display: flex;
  cursor: pointer;
 }

  .col_rodape img:hover{
  transform: scale(1.2);
  transition: 0.6s;
 }

.col_rodapeP{
  width: 400px;
  height: 100%;
  padding-top: 30px;
  cursor: pointer;
}

.col_rodapeP h3:hover{
  color: #f4f5f7;
  transition: 0.2s;
  transform: scale(1.03);
 }

.social-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
}

.social-menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.social-menu ul li {
  list-style: none;
  margin: 0;
}

.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

.social-menu ul li .fa:hover {
  color: #ffffff;
}

.social-menu ul li a {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.social-menu ul li a:hover {
  transform: translate(0, -10px);
}

.social-menu img {
  border-radius: 50%;
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #ff6b9a; 
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #ffffff; 
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #FF0000; 
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #22ff00; 
}

/*
LARGURA PC 1920px
CONTEÚDO 1200px
MENU ALTURA 120px
MENU+HOME 100VH
SEÇÕES 100VH
<6 A 8 PRODUTOS>*/
